body {
	max-width: 800px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}

a {
	color: #6600ff;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1D1F23;
		color: #bbc0ca;
	}
	a {
		color: #ee00ff;
	}
}
